{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="login-wrapper">
  <div class="login-card">

    <!-- Shield Icon -->
    <div class="shield-icon">
      <img src="{% static 'images/logo.PNG' %}" alt="Shield Icon">
    </div>

    <!-- Heading -->
    <h2>Sign in to your account</h2>

    <!-- Form -->
    <form method="post">
      {% csrf_token %}
      
      <label for="email">Email address</label>
      <input type="email" name="email" id="email" required>

      <label for="password">Password</label>
      <input type="password" name="password" id="password" required>

      <button type="submit" class="btn-primary">Sign in</button>
    </form>

    <!-- Footer -->
    <p class="signup-text">
      Don’t have an account?
      <a href="{% url 'register' %}">Sign up</a>
    </p>
  </div>
</div>
{% endblock %}
